/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
   ========================================================================== */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
@media only screen and (max-width: 768px) {
  div.event-info {
    background-color: #efefef;
  }
}
.pane-des-subscribe {
  background: #e5e5e5;
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
  padding: 10px;
}
