@import "_mixins";

@include small-medium() {
  div.event-info {
    background-color: #efefef;
  }
}

.pane-des-subscribe {
  background: #e5e5e5;
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
  padding: 10px;
}
